openapi: 3.0.1
info:
  title: Corrige Online
  version: 1.0.0
paths:
#  /auth/login:
#    post:
#      tags: [ Login ]
#      operationId: login
#      summary: Authenticate user and issue JWT
#      security: [ ]
#      requestBody:
#        required: true
#        content:
#          application/json:
#            schema:
#              $ref: './dtos/request/login-request.yaml#/components/schemas/LoginRequest'
#      responses:
#        '200':
#          description: Authenticated
#          content:
#            application/json:
#              schema:
#                $ref: './dtos/response/login-response.yaml#/components/schemas/LoginResponse'
#        '401':
#          description: Invalid credentials
#          content:
#            application/json:
#              schema:
#                $ref: './dtos/response/error-response.yaml#/components/schemas/ErrorResponse'
#        '422':
#          description: Validation error
#          content:
#            application/json:
#              schema:
#                $ref: './dtos/response/error-response.yaml#/components/schemas/ErrorResponse'
#
  /empresa/{empresaId}/vantagens:
    post:
      tags:
        - Vantagem
      operationId: createVantagem
      summary: cadastro de uma vantagem por uma empresa
      parameters:
        - name: empresaId
          in: path
          required: true
          description: ID da empresa
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './dto/request/vantagem-request.yaml#/components/schemas/VantagemRequestDTO'
      responses:
        201:
          description: Vantagem Criada com Sucesso
        500:
          description: Internal server erro
    get:
      tags:
        - Vantagem
      summary: Lista todas as vantagens de uma empresa específica
      operationId: listVantagens
      parameters:
        - name: empresaId
          in: path
          required: true
          description: ID da empresa
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './dto/response/vantagem-response.yaml#/components/schemas/VantagemResponseDTO'
  /empresa/{empresaId}/vantagens/{vantagemId}:
    get:
      tags:
        - Vantagem
      operationId: getVantagemById
      summary: Lista uma vantagem de uma empresa por id
      parameters:
        - name: empresaId
          in: path
          required: true
          description: ID da empresa
          schema:
            type: string
            format: uuid
        - name: vantagemId
          in: path
          required: true
          description: ID da vantagem
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Vantagem econtrada com sucesso
          content:
            application/json:
              schema:
                $ref: './dto/response/vantagem-response.yaml#/components/schemas/VantagemResponseDTO'
        '404':
          description: Vantagem não encontrada
          content:
            application/json:
              schema:
                $ref: './dto/response/error-response.yaml#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno do servidor
          content:
            application/json:
              schema:
                $ref: './dto/response/error-response.yaml#/components/schemas/ErrorResponse'
    put:
      tags:
        - Vantagem
      summary: Atualização de vantagem
      operationId: updateVantagem
      parameters:
        - name: empresaId
          in: path
          required: true
          description: ID da empresa
          schema:
            type: string
            format: uuid
        - name: vantagemId
          in: path
          required: true
          description: ID da vantagem
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './dto/request/vantagem-update-request.yaml#/components/schemas/VantagemUpdateDTO'
      responses:
        '200':
          description: Vantagem econtrada com sucesso
          content:
            application/json:
              schema:
                $ref: './dto/response/vantagem-response.yaml#/components/schemas/VantagemResponseDTO'
        '404':
          description: Vantagem não encontrada
          content:
            application/json:
              schema:
                $ref: './dto/response/error-response.yaml#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno do servidor
          content:
            application/json:
              schema:
                $ref: './dto/response/error-response.yaml#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Vantagem
      summary: Deletar uma vantagem
      operationId: deleteVantagem
      parameters:
        - name: empresaId
          in: path
          required: true
          description: ID da empresa
          schema:
            type: string
            format: uuid
        - name: vantagemId
          in: path
          required: true
          description: ID da vantagem
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: vantagem deletada
        '404':
          description: Vantagem não encontrada
          content:
            application/json:
              schema:
                $ref: './dto/response/error-response.yaml#/components/schemas/ErrorResponse'

  /user:
    post:
      tags:
        - User
      operationId: userRegistration
      summary: cadastro de usuario
#      security: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './dto/request/user-request.yaml#/components/schemas/UserRequest'
      responses:
        201:
          description: Credentials have been sent
        400:
          description: Invalid email format (missing '@', '.', or '.gmail')
          content:
            application/json:
              schema:
                $ref: './dto/response/error-response.yaml#/components/schemas/ErrorResponse'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: './dto/response/error-response.yaml#/components/schemas/ErrorResponse'
  /user/{id}:
    put:
      tags:
        - User
      operationId: updateUser
      summary: atualização de usuario
      #      security: [ ]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './dto/request/user-update-request.yaml#/components/schemas/UsuarioUpdateRequestDTO'
      responses:
        201:
          description: Credentials have been sent
          content:
            application/json:
              schema:
                $ref: './dto/response/user-update-response.yaml#/components/schemas/UsuarioUpdateResponseDTO'
        400:
          description: Invalid email format (missing '@', '.', or '.gmail')
          content:
            application/json:
              schema:
                $ref: './dto/response/error-response.yaml#/components/schemas/ErrorResponse'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: './dto/response/error-response.yaml#/components/schemas/ErrorResponse'
    get:
      tags:
        - User
      operationId: getUserById
      summary: buscar usuario por ID
      #      security: [ ]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Usuário encontrado com sucesso
          content:
            application/json:
              schema:
                $ref: './dto/response/user-update-response.yaml#/components/schemas/UsuarioUpdateResponseDTO'
        '404':
          description: Usuário não encontrado
          content:
            application/json:
              schema:
                $ref: './dto/response/error-response.yaml#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno do servidor
          content:
            application/json:
              schema:
                $ref: './dto/response/error-response.yaml#/components/schemas/ErrorResponse'
    delete:
      tags:
        - User
      operationId: deleteUserById
      summary: Remover usuário por ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID do usuário a ser removido
      responses:
        '204':
          description: Usuário removido com sucesso
        '404':
          description: Usuário não encontrado
          content:
            application/json:
              schema:
                $ref: './dto/response/error-response.yaml#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno do servidor
          content:
            application/json:
              schema:
                $ref: './dto/response/error-response.yaml#/components/schemas/ErrorResponse'
  /vantagens:
    get:
      tags:
        - Vantagem
      operationId: listAllVantagens
      summary: Pegar todas as vantagens
      responses:
        '200':
          description: Vantagem econtrada com sucesso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './dto/response/vantagem-response.yaml#/components/schemas/VantagemResponseDTO'
        '404':
          description: Vantagem não encontrada
          content:
            application/json:
              schema:
                $ref: './dto/response/error-response.yaml#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno do servidor
          content:
            application/json:
              schema:
                $ref: './dto/response/error-response.yaml#/components/schemas/ErrorResponse'
  /auth/login:
    post:
      tags:
        - Login
      operationId: login
      summary: Loga o usuário no sistema
#      security: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './dto/request/login-request.yaml#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Authenticated
          content:
            application/json:
              schema:
                $ref: './dto/response/login-response.yaml#/components/schemas/LoginResponseDTO'
        '500':
          description: Erro interno do servidor
          content:
            application/json:
              schema:
                $ref: './dto/response/error-response.yaml#/components/schemas/ErrorResponse'
  /alunos/{alunoId}/doacoes:
    get:
      tags:
        - Doacao
      operationId: getAlunoDonations
      summary: Extrato de doações recebidas por um aluno
      parameters:
        - name: alunoId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Extrato econtrado
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './dto/response/doacao-reponse.yaml#/components/schemas/DoacaoResponseDTO'
        '500':
          description: Erro interno do servidor
          content:
            application/json:
              schema:
                $ref: './dto/response/error-response.yaml#/components/schemas/ErrorResponse'
  /professores/{professorId}/doacoes:
    get:
      tags:
        - Doacao
      operationId: getProfessorDonations
      summary: Extrato de doações feitas por um professor
      parameters:
        - name: professorId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Extrato econtrado
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './dto/response/doacao-reponse.yaml#/components/schemas/DoacaoResponseDTO'
        '500':
          description: Erro interno do servidor
          content:
            application/json:
              schema:
                $ref: './dto/response/error-response.yaml#/components/schemas/ErrorResponse'
    post:
      tags:
        - Doacao
      operationId: donate
      summary: Fazer uma doação para um aluno
      parameters:
        - name: professorId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './dto/request/doacao-request.yaml#/components/schemas/DoacaoRequestDTO'
      responses:
        '200':
          description: Authenticated
          content:
            application/json:
              schema:
                $ref: './dto/response/doacao-reponse.yaml#/components/schemas/DoacaoResponseDTO'
        '406':
          description: Erro interno do servidor
          content:
            application/json:
              schema:
                $ref: './dto/response/error-response.yaml#/components/schemas/ErrorResponse'