openapi: 3.0.1
info:
  title: Corrige Online
  version: 1.0.0
paths:
#  /auth/login:
#    post:
#      tags: [ Login ]
#      operationId: login
#      summary: Authenticate user and issue JWT
#      security: [ ]
#      requestBody:
#        required: true
#        content:
#          application/json:
#            schema:
#              $ref: './dtos/request/login-request.yaml#/components/schemas/LoginRequest'
#      responses:
#        '200':
#          description: Authenticated
#          content:
#            application/json:
#              schema:
#                $ref: './dtos/response/login-response.yaml#/components/schemas/LoginResponse'
#        '401':
#          description: Invalid credentials
#          content:
#            application/json:
#              schema:
#                $ref: './dtos/response/error-response.yaml#/components/schemas/ErrorResponse'
#        '422':
#          description: Validation error
#          content:
#            application/json:
#              schema:
#                $ref: './dtos/response/error-response.yaml#/components/schemas/ErrorResponse'
#
  /user:
    post:
      tags:
        - Payment
      operationId: sendPayment
      summary: Send payment
#      security: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './dtos/request/mail-request.yaml#/components/schemas/MailRequest'
      responses:
        201:
          description: Credentials have been sent
        400:
          description: Invalid email format (missing '@', '.', or '.gmail')
          content:
            application/json:
              schema:
                $ref: './dtos/response/error-response.yaml#/components/schemas/ErrorResponse'
        409:
          description: Vacancy is already full
          content:
            application/json:
              schema:
                $ref: './dtos/response/error-response.yaml#/components/schemas/ErrorResponse'
        424:
          description: Gmail API error (bad gateway)
          content:
            application/json:
              schema:
                $ref: './dtos/response/error-response.yaml#/components/schemas/ErrorResponse'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: './dtos/response/error-response.yaml#/components/schemas/ErrorResponse'
